html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html *,
html *::after *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html .container {
  max-width: 1032px;
  padding: 0 10px;
  margin: 0 auto;
}

html a {
  text-decoration: none;
}

html h1,
html h2,
html h3,
html h4,
html h5,
html h6 {
  margin: 0;
}

html body {
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  line-height: 23px;
  color: #07071d;
  margin: 0 auto;
}

html body .header {
  background-color: #010103;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

html body .header__container .header__inner {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .header__container .header__inner .menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

html body .header__container .header__inner .menu__items .menu__item {
  list-style: none;
}

html body .header__container .header__inner .menu__items .menu__item-link {
  font-weight: 500;
  font-size: 20px;
  color: #ff7300;
  padding: 10px 15px;
  margin: 0 5px;
  border: 2px solid #ff7300;
  line-height: 29px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

html body .header__container .header__inner .menu__items .menu__item-link:hover {
  border: 2px solid transparent;
}

html body .main {
  padding-top: 100px;
  padding-bottom: 100px;
}

html body .main__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
}

html body .main__inner .main__content {
  max-width: 50%;
}

html body .main__inner .main__content .main__title {
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
  padding-bottom: 40px;
  margin: 0;
}

html body .main__inner .main__content .main__title-orange {
  color: #ff7300;
}

html body .main__inner .main__content .main__text {
  padding-bottom: 40px;
  margin: 0;
}

html body .main__inner .main__content .download-btn {
  color: #07071d;
  font-size: 20px;
  background-color: #ff7300;
  padding: 10px 20px;
  font-weight: 500;
  line-height: 29px;
  border: 2px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

html body .main__inner .main__content .download-btn:hover {
  color: #ff7300;
  background-color: #fdfdfd;
  border: 2px solid #ff7300;
}

html body .main__inner .photo {
  border-radius: 50%;
  width: 300px;
  -webkit-box-shadow: -5px 10px #0c0c22;
          box-shadow: -5px 10px #0c0c22;
}

html body .posts {
  background-color: #ff7300;
  padding-top: 30px;
  padding-bottom: 30px;
}

html body .posts__inner .posts__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .posts__inner .posts__heading .posts__title {
  font-weight: 400;
  line-height: 60px;
  color: #fdfdfd;
}

html body .posts__inner .posts__heading .posts__view {
  color: #fdfdfd;
}

html body .posts__inner .posts__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .posts__inner .posts__items .post {
  background-color: #fdfdfd;
  padding: 25px 30px;
}

html body .posts__inner .posts__items .post .post__title {
  font-weight: 700;
  line-height: 38px;
  font-size: 26px;
  padding-bottom: 20px;
}

html body .posts__inner .posts__items .post .post__date {
  padding-right: 30px;
  position: relative;
}

html body .posts__inner .posts__items .post .post__date::after {
  content: "";
  width: 1px;
  height: 21px;
  background-color: #07071d;
  position: absolute;
  top: 0;
  right: 0px;
}

html body .posts__inner .posts__items .post .post__category {
  padding-left: 25px;
}

html body .posts__inner .posts__items .post + .post {
  margin-left: 20px;
}

html body .works {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #0c0c22;
  color: #fdfdfd;
}

html body .works__inner .works__title {
  font-weight: 400;
  line-height: 60px;
  color: #fdfdfd;
}

html body .works__inner .works__items .work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ff7300;
}

html body .works__inner .works__items .work .work__image {
  border-radius: 20px;
}

html body .works__inner .works__items .work .work__desc {
  margin-left: 20px;
}

html body .works__inner .works__items .work .work__desc .work__title {
  color: #ff7300;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  padding-bottom: 20px;
}

html body .works__inner .works__items .work .work__desc .work__date {
  background-color: #fdfdfd;
  color: #07071d;
  font-weight: 700;
  padding: 3px 8px;
  border-radius: 50%;
}

html body .works__inner .works__items .work .work__desc .work__tech {
  margin-left: 30px;
}

html body .contacts {
  background-color: #010103;
  padding-top: 30px;
  padding-bottom: 20px;
}

html body .contacts__inner {
  text-align: center;
  color: #fdfdfd;
}

html body .contacts__inner .soc__links .soc__link {
  padding-left: 10px;
  padding-right: 10px;
}

html body .contacts__inner .soc__links .soc__link .fab {
  color: #fdfdfd;
  font-size: 30px;
}

html body .contacts__inner .copyright .bekdev {
  color: #ff7300;
}
/*# sourceMappingURL=style.css.map */