$default_font: "Ubuntu", sans-serif;
$wall: #000000;
$brand: #ff7300;
$white: #ffffff;
$font: hsl(0, 0%, 70%);
$black: #000000;

html {
    box-sizing: border-box;

    *,
    *::after *::before {
        box-sizing: inherit;
    }
    .container {
        max-width: 1032px;
        padding: 0 10px;
        margin: 0 auto;
    }
    a {
        text-decoration: none;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }

    body {
        font-size: 16px;
        font-family: $default_font;
        font-weight: 400;
        line-height: 23px;
        color: $font;
        margin: 0 auto;

        .header {
            background-color: $wall;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1;
            height: 60px;
            position: relative;

            &__container {
                max-width: 1220px;
                padding: 0 10px;
                // margin: 0 auto;
                .header__inner {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }
        .menu {
            #ckeck {
                display: none;
            }
            display: flex;
            align-items: center;
            #menu__btn {
                display: none;
                #menu__btn-open,
                #menu__btn-close {
                    position: absolute;
                    top: 50%;
                    right: 10px;
                    font-size: 40px;
                    transform: translate(0, -50%);
                    cursor: pointer;
                    color: $white;
                }
            }
        }
        .menu__items {
            display: flex;
            justify-content: space-around;
            .menu__item {
                list-style: none;
                padding: 10px 15px;
            }
        }
        .menu__item-link {
            position: relative;
            font-weight: 500;
            font-size: 20px;
            color: $white;
            line-height: 29px;

            &::before {
                position: absolute;
                content: "";
                left: 0;
                width: 100%;
                height: 2px;
                background-color: $white;
                bottom: -5px;
                transform: scale(0);
                transition: 0.6s transform;
                transform-origin: right;
            }

            &:hover::before {
                transform: scale(1);
                transform-origin: left;
            }
        }
        .main {
            background-color: $wall;
            // padding-top: 100px;
            // padding-bottom: 100px;
            height: 100vh;
            display: flex;
            align-items: center;
            &__inner {
                display: flex;
                justify-content: space-between;
                align-items: center;
                // padding-top: 50px;
                .main__content {
                    max-width: 50%;
                    .main__title {
                        font-size: 44px;
                        font-weight: 700;
                        line-height: 60px;
                        padding-bottom: 40px;
                        margin: 0;
                        color: $font;
                    }
                    .main__title-white {
                        color: $white !important;
                    }
                    .main__text {
                        padding-bottom: 40px;
                        margin: 0;
                    }
                    .download-btn {
                        color: $black;
                        font-size: 20px;
                        background-color: $white;
                        padding: 10px 20px;
                        font-weight: 500;
                        line-height: 29px;
                        border: 2px solid transparent;
                        transition: all 0.5s;
                        &:hover {
                            color: $white;
                            background-color: $font;
                            // border: 2px solid $white;
                        }
                    }
                }
                .photo {
                    border-radius: 50%;
                    width: 300px;
                    // box-shadow: -5px 10px $white;
                }
            }
        }
        .posts {
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;

            background-image: url(../images/blog_bgi-2.jpg);

            .bgcolor {
                background-color: hsla(0, 0%, 0%, 0.589);
                padding-top: 30px;
                padding-bottom: 30px;
            }
            &__inner {
                opacity: 0.8;
                object-fit: cover;

                .posts__heading {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .posts__title {
                        font-weight: 400;
                        line-height: 60px;
                        color: $white;
                    }
                    .posts__view {
                        color: $white;
                    }
                }
                .posts__items {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    color: $black;

                    .post {
                        background-color: $white;
                        padding: 25px 30px;
                        min-height: 300px;
                        border-radius: 30px;

                        .post__title {
                            font-weight: 700;
                            line-height: 38px;
                            font-size: 26px;
                            padding-bottom: 20px;
                        }
                        .post__date {
                            padding-right: 30px;
                            position: relative;
                        }
                        .post__date::after {
                            content: "";
                            width: 1px;
                            height: 21px;
                            background-color: $font;
                            position: absolute;
                            top: 0;
                            right: 0px;
                        }
                        .post__category {
                            padding-left: 25px;
                        }
                    }
                    .post + .post {
                        margin-left: 20px;
                    }
                }
            }
        }
        .works {
            padding-top: 30px;
            padding-bottom: 30px;
            background-color: $wall;
            color: $white;
            &__inner {
                .works__title {
                    font-weight: 400;
                    line-height: 60px;
                    color: $white;
                }
                .works__items {
                    .work {
                        display: flex;
                        justify-content: space-between;
                        padding-top: 30px;
                        padding-bottom: 30px;
                        // background-color: $font;
                        border-bottom: 1px solid $font;

                        .work__image {
                            border-radius: 20px;
                            width: 100%;
                        }
                        .work__desc {
                            margin-left: 20px;

                            .work__title {
                                color: $white;
                                font-weight: 700;
                                font-size: 30px;
                                line-height: 44px;
                                padding-bottom: 20px;
                            }
                            .work__date {
                                // background-color: $white;
                                color: $white;
                                font-weight: 700;
                                padding: 3px 1px;
                                border-bottom: 1px solid $font;
                                // border-radius: 0%;
                            }
                            .work__tech {
                                margin-left: 20px;
                            }
                        }
                    }
                }
            }
        }
        .contacts {
            background-color: $wall;
            padding-top: 30px;
            padding-bottom: 20px;
            &__inner {
                text-align: center;
                color: $font;
                .soc__links {
                    .soc__link {
                        padding-left: 10px;
                        padding-right: 10px;
                        .fab {
                            color: $white;
                            font-size: 30px;
                        }
                    }
                }
                .copyright {
                    .bekdev {
                        color: $white;
                    }
                }
            }
        }

        @media (max-width: 1000px) {
            .main {
                // height: 150vh;
                &__inner {
                    // padding-top: 50px;
                    // padding-bottom: 50px;
                    flex-wrap: wrap;
                    // display: flex;
                    justify-content: center;
                    // align-items: center;
                }
                .main__content {
                    max-width: 80%;
                    text-align: center;
                    margin: 0 auto 50px;
                    order: 1;
                    .main__title {
                        font-size: 42px;
                        padding-bottom: 20px;
                    }

                    .main__text {
                        padding-bottom: 30px;
                    }
                }
                .photo {
                    margin-top: 90px;
                    margin-bottom: 20px;
                    width: 250px;
                }
            }
            .posts {
                .post__date {
                    padding-right: 10px !important;
                }
                .post__category {
                    padding-left: 10px !important;
                }
            }
            .works {
                &__inner {
                    .works__items {
                        margin: 0 auto;
                        justify-content: center;
                        // width: 90%;
                    }
                }
                .work {
                    .work__image {
                        width: 80%;
                    }
                    &__desc {
                        .work__title {
                            font-size: 28px;
                        }
                    }
                }
            }
        }
        @media (max-width: 920px) {
            .posts {
                .post__date {
                    padding-right: 5px !important;
                }
                .post__category {
                    padding-left: 5px !important;
                }
            }
            .works {
                &__inner {
                    .works__title {
                        text-align: center;
                    }
                    .works__items {
                        .work {
                            margin: 0 auto;
                            flex-wrap: wrap;
                            width: 70%;
                            justify-content: center;
                            .work__image {
                                width: 100%;
                            }
                            &__desc {
                                padding-left: 10px;
                                padding-right: 10px;

                                margin-left: 0px !important;

                                .work__title {
                                    font-size: 28px;
                                }
                            }
                        }
                    }
                }
            }
        }
        @media (max-width: 768px) {
            .posts {
                .posts__heading {
                    justify-content: center;
                }
                .posts__view {
                    display: none;
                }
                .posts__items {
                    flex-wrap: wrap;
                    .post {
                        margin: 10px 0px;
                        margin-left: 0;
                    }
                    .post + .post {
                        margin-left: 0px;
                    }
                }
                .post {
                    min-height: 200px !important;
                    .post__date {
                        flex-wrap: wrap !important;

                        // padding-right: 2px!important;
                    }
                    .post__category {
                        flex-wrap: wrap !important;

                        // padding-left: 2px!important;
                    }
                }
            }
            .works {
                &__inner {
                    .works__title {
                        text-align: center;
                    }
                    .works__items {
                        .work {
                            margin: 0 auto;
                            flex-wrap: wrap;
                            width: 90%;
                            .work__image {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        @media (max-width: 650px) {
            .main {
                &__inner {
                    .main__content {
                        max-width: 90%;
                        .main__title {
                            font-size: 36px;
                        }
                    }
                }
            }
        }
        @media (max-width: 500px) {
            .header {
                display: flex !important;
                justify-content: end !important;
                align-items: center;
                position: relative;

                .menu__items {
                    position: fixed;
                    display: block;
                    top: 0px;
                    right: 0px;
                    background-color: $white;
                    width: 50%;
                    height: 25vh;
                    margin: 0;
                    padding-top: 40px;
                    padding-left: 10px;
                    box-sizing: border-box;
                    border-radius: 50% 0 0 50%;
                    text-align: right;
                    border: 1px solid white;

                }
                #menu__btn {
                    display: inline-block;
                }
                .menu__item-link {
                    color: $wall;
                    line-height: 10px;
                    

                }
            }
            .main {
                &__inner {
                    .main__content {
                        max-width: 100%;
                        .main__title {
                            font-size: 32px;
                            padding-bottom: 10px;
                            line-height: 45px;
                        }
                    }
                }
            }
            .works {
                .work {
                    width: 100% !important;
                    .work__title {
                        font-size: 26px !important;
                    }
                }
            }
        }

        @media (max-width: 400px) {
            .main {
                .main__title {
                    font-size: 30px;
                }
                .photo {
                    margin-top: 40px;
                    margin-bottom: 20px;
                    width: 200px;
                }
            }
            .posts {
                .post {
                    min-width: 200px;
                    .post__date {
                        padding-right: 10px;
                    }
                    .post__category {
                        padding-left: 10px;
                    }
                }
            }
            .works {
                .work__title {
                    font-size: 22px !important;
                }
            }
            .contacts {
                .copyright {
                    font-size: 14px;
                }
            }
        }
    }
}
