$default_font: "Ubuntu", sans-serif;
$wall: #0c0c22;
$brand: #ff7300;
$font: #07071d;
$white: #fdfdfd;
$black: #010103;

html {
    box-sizing: border-box;

    *,
    *::after *::before {
        box-sizing: inherit;
    }
    .container {
        max-width: 1032px;
        padding: 0 10px;
        margin: 0 auto;
    }
    a {
        text-decoration: none;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }

    body {
        font-size: 16px;
        font-family: $default_font;
        font-weight: 400;
        line-height: 23px;
        color: $font;
        margin: 0 auto;

        .header {
            background-color: $black;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1;

            &__container {
                .header__inner {
                    height: 100px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .menu {
                        &__items {
                            display: flex;
                            justify-content: space-around;
                            .menu__item {
                                list-style: none;

                                &-link {
                                    font-weight: 500;
                                    font-size: 20px;
                                    color: $brand;
                                    padding: 10px 15px;
                                    margin: 0 5px;
                                    border: 2px solid $brand;
                                    line-height: 29px;

                                    transition: all 0.5s;
                                    &:hover {
                                        border: 2px solid transparent;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .main {
            padding-top: 100px;
            padding-bottom: 100px;
            &__inner {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 100px;
                .main__content {
                    max-width: 50%;
                    .main__title {
                        font-size: 44px;
                        font-weight: 700;
                        line-height: 60px;
                        padding-bottom: 40px;
                        margin: 0;
                        &-orange {
                            color: #ff7300;
                        }
                    }
                    .main__text {
                        padding-bottom: 40px;
                        margin: 0;
                    }
                    .download-btn {
                        color: $font;
                        font-size: 20px;
                        background-color: $brand;
                        padding: 10px 20px;
                        font-weight: 500;
                        line-height: 29px;
                        border: 2px solid transparent;
                        transition: all 0.5s;
                        &:hover {
                            color: $brand;
                            background-color: $white;
                            border: 2px solid $brand;
                        }
                    }
                }
                .photo {
                    border-radius: 50%;
                    width: 300px;
                    box-shadow: -5px 10px $wall;
                }
            }
        }
        .posts {
            background-color: $brand;
            padding-top: 30px;
            padding-bottom: 30px;
            &__inner {
                .posts__heading {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .posts__title {
                        font-weight: 400;
                        line-height: 60px;
                        color: $white;
                    }
                    .posts__view {
                        color: $white;
                    }
                }
                .posts__items {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .post {
                        background-color: $white;
                        padding: 25px 30px;
                        .post__title {
                            font-weight: 700;
                            line-height: 38px;
                            font-size: 26px;
                            padding-bottom: 20px;
                        }
                        .post__date {
                            padding-right: 30px;
                            position: relative;
                        }
                        .post__date::after {
                            content: "";
                            width: 1px;
                            height: 21px;
                            background-color: $font;
                            position: absolute;
                            top: 0;
                            right: 0px;
                        }
                        .post__category {
                            padding-left: 25px;
                        }
                    }
                    .post + .post {
                        margin-left: 20px;
                    }
                }
            }
        }
        .works {
            padding-top: 30px;
            padding-bottom: 30px;
            background-color: $wall;
            color: $white;
            &__inner {
                .works__title {
                    font-weight: 400;
                    line-height: 60px;
                    color: $white;
                }
                .works__items {
                    .work {
                        display: flex;
                        justify-content: space-between;
                        padding-top: 30px;
                        padding-bottom: 15px;
                        // background-color: $font;
                        border-bottom: 1px solid $brand;
                        .work__image {
                            border-radius: 20px;
                        }
                        .work__desc {
                            margin-left: 20px;

                            .work__title {
                                color: $brand;
                                font-weight: 700;
                                font-size: 30px;
                                line-height: 44px;
                                padding-bottom: 20px;
                            }
                            .work__date {
                                background-color: $white;
                                color: $font;
                                font-weight: 700;
                                padding: 3px 8px;
                                border-radius: 50%;
                            }
                            .work__tech {
                                margin-left: 30px;
                            }
                        }
                    }
                }
            }
        }
        .contacts {
            background-color: $black;
            padding-top: 30px;
            padding-bottom: 20px;
            &__inner {
                text-align: center;
                color: $white;
                .soc__links {
                    .soc__link {
                        padding-left: 10px;
                        padding-right: 10px;
                        .fab {
                            color: $white;   
                            font-size: 30px;                    
                        }
                    }
                }
                .copyright{
                    .bekdev{
                        color: $brand;
                    }
                }
            }
        }
    }
}
