html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html *,
html *::after *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html .container {
  max-width: 1032px;
  padding: 0 10px;
  margin: 0 auto;
}

html a {
  text-decoration: none;
}

html h1,
html h2,
html h3,
html h4,
html h5,
html h6 {
  margin: 0;
}

html body {
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  line-height: 23px;
  color: #b3b3b3;
  margin: 0 auto;
}

html body .header {
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 60px;
  position: relative;
}

html body .header__container {
  max-width: 1220px;
  padding: 0 10px;
}

html body .header__container .header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .menu #ckeck {
  display: none;
}

html body .menu #menu__btn {
  display: none;
}

html body .menu #menu__btn #menu__btn-open,
html body .menu #menu__btn #menu__btn-close {
  position: absolute;
  top: 50%;
  right: 10px;
  font-size: 40px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  cursor: pointer;
  color: #ffffff;
}

html body .menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

html body .menu__items .menu__item {
  list-style: none;
  padding: 10px 15px;
}

html body .menu__item-link {
  position: relative;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  line-height: 29px;
}

html body .menu__item-link::before {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  bottom: -5px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.6s -webkit-transform;
  transition: 0.6s -webkit-transform;
  transition: 0.6s transform;
  transition: 0.6s transform, 0.6s -webkit-transform;
  -webkit-transform-origin: right;
          transform-origin: right;
}

html body .menu__item-link:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

html body .main {
  background-color: #000000;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .main__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .main__inner .main__content {
  max-width: 50%;
}

html body .main__inner .main__content .main__title {
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
  padding-bottom: 40px;
  margin: 0;
  color: #b3b3b3;
}

html body .main__inner .main__content .main__title-white {
  color: #ffffff !important;
}

html body .main__inner .main__content .main__text {
  padding-bottom: 40px;
  margin: 0;
}

html body .main__inner .main__content .download-btn {
  color: #000000;
  font-size: 20px;
  background-color: #ffffff;
  padding: 10px 20px;
  font-weight: 500;
  line-height: 29px;
  border: 2px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

html body .main__inner .main__content .download-btn:hover {
  color: #ffffff;
  background-color: #b3b3b3;
}

html body .main__inner .photo {
  border-radius: 50%;
  width: 300px;
}

html body .posts {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-image: url(../images/blog_bgi-2.jpg);
}

html body .posts .bgcolor {
  background-color: rgba(0, 0, 0, 0.589);
  padding-top: 30px;
  padding-bottom: 30px;
}

html body .posts__inner {
  opacity: 0.8;
  -o-object-fit: cover;
     object-fit: cover;
}

html body .posts__inner .posts__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .posts__inner .posts__heading .posts__title {
  font-weight: 400;
  line-height: 60px;
  color: #ffffff;
}

html body .posts__inner .posts__heading .posts__view {
  color: #ffffff;
}

html body .posts__inner .posts__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}

html body .posts__inner .posts__items .post {
  background-color: #ffffff;
  padding: 25px 30px;
  min-height: 300px;
  border-radius: 30px;
}

html body .posts__inner .posts__items .post .post__title {
  font-weight: 700;
  line-height: 38px;
  font-size: 26px;
  padding-bottom: 20px;
}

html body .posts__inner .posts__items .post .post__date {
  padding-right: 30px;
  position: relative;
}

html body .posts__inner .posts__items .post .post__date::after {
  content: "";
  width: 1px;
  height: 21px;
  background-color: #b3b3b3;
  position: absolute;
  top: 0;
  right: 0px;
}

html body .posts__inner .posts__items .post .post__category {
  padding-left: 25px;
}

html body .posts__inner .posts__items .post + .post {
  margin-left: 20px;
}

html body .works {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
  color: #ffffff;
}

html body .works__inner .works__title {
  font-weight: 400;
  line-height: 60px;
  color: #ffffff;
}

html body .works__inner .works__items .work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #b3b3b3;
}

html body .works__inner .works__items .work .work__image {
  border-radius: 20px;
  width: 100%;
}

html body .works__inner .works__items .work .work__desc {
  margin-left: 20px;
}

html body .works__inner .works__items .work .work__desc .work__title {
  color: #ffffff;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  padding-bottom: 20px;
}

html body .works__inner .works__items .work .work__desc .work__date {
  color: #ffffff;
  font-weight: 700;
  padding: 3px 1px;
  border-bottom: 1px solid #b3b3b3;
}

html body .works__inner .works__items .work .work__desc .work__tech {
  margin-left: 20px;
}

html body .contacts {
  background-color: #000000;
  padding-top: 30px;
  padding-bottom: 20px;
}

html body .contacts__inner {
  text-align: center;
  color: #b3b3b3;
}

html body .contacts__inner .soc__links .soc__link {
  padding-left: 10px;
  padding-right: 10px;
}

html body .contacts__inner .soc__links .soc__link .fab {
  color: #ffffff;
  font-size: 30px;
}

html body .contacts__inner .copyright .bekdev {
  color: #ffffff;
}

@media (max-width: 1000px) {
  html body .main__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  html body .main .main__content {
    max-width: 80%;
    text-align: center;
    margin: 0 auto 50px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  html body .main .main__content .main__title {
    font-size: 42px;
    padding-bottom: 20px;
  }
  html body .main .main__content .main__text {
    padding-bottom: 30px;
  }
  html body .main .photo {
    margin-top: 90px;
    margin-bottom: 20px;
    width: 250px;
  }
  html body .posts .post__date {
    padding-right: 10px !important;
  }
  html body .posts .post__category {
    padding-left: 10px !important;
  }
  html body .works__inner .works__items {
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  html body .works .work .work__image {
    width: 80%;
  }
  html body .works .work__desc .work__title {
    font-size: 28px;
  }
}

@media (max-width: 920px) {
  html body .posts .post__date {
    padding-right: 5px !important;
  }
  html body .posts .post__category {
    padding-left: 5px !important;
  }
  html body .works__inner .works__title {
    text-align: center;
  }
  html body .works__inner .works__items .work {
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 70%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  html body .works__inner .works__items .work .work__image {
    width: 100%;
  }
  html body .works__inner .works__items .work__desc {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0px !important;
  }
  html body .works__inner .works__items .work__desc .work__title {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  html body .posts .posts__heading {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  html body .posts .posts__view {
    display: none;
  }
  html body .posts .posts__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  html body .posts .posts__items .post {
    margin: 10px 0px;
    margin-left: 0;
  }
  html body .posts .posts__items .post + .post {
    margin-left: 0px;
  }
  html body .posts .post {
    min-height: 200px !important;
  }
  html body .posts .post .post__date {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
  }
  html body .posts .post .post__category {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
  }
  html body .works__inner .works__title {
    text-align: center;
  }
  html body .works__inner .works__items .work {
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 90%;
  }
  html body .works__inner .works__items .work .work__image {
    width: 100%;
  }
}

@media (max-width: 650px) {
  html body .main__inner .main__content {
    max-width: 90%;
  }
  html body .main__inner .main__content .main__title {
    font-size: 36px;
  }
}

@media (max-width: 500px) {
  html body .header {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: end !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  html body .header .menu__items {
    position: fixed;
    display: block;
    top: 0px;
    right: 0px;
    background-color: #ffffff;
    width: 50%;
    height: 25vh;
    margin: 0;
    padding-top: 40px;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 50% 0 0 50%;
    text-align: right;
    border: 1px solid white;
  }
  html body .header #menu__btn {
    display: inline-block;
  }
  html body .header .menu__item-link {
    color: #000000;
    line-height: 10px;
  }
  html body .main__inner .main__content {
    max-width: 100%;
  }
  html body .main__inner .main__content .main__title {
    font-size: 32px;
    padding-bottom: 10px;
    line-height: 45px;
  }
  html body .works .work {
    width: 100% !important;
  }
  html body .works .work .work__title {
    font-size: 26px !important;
  }
}

@media (max-width: 400px) {
  html body .main .main__title {
    font-size: 30px;
  }
  html body .main .photo {
    margin-top: 40px;
    margin-bottom: 20px;
    width: 200px;
  }
  html body .posts .post {
    min-width: 200px;
  }
  html body .posts .post .post__date {
    padding-right: 10px;
  }
  html body .posts .post .post__category {
    padding-left: 10px;
  }
  html body .works .work__title {
    font-size: 22px !important;
  }
  html body .contacts .copyright {
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */